@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$font-family-inter: "Inter", sans-serif;
$font-family-lexend: "Lexend Deca", sans-serif;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-inter;
}

img {
  width: 100%;
  height: auto;
  display: block;
}



.heading__primary {
  font-size: 3em;
  text-align: center;
}


.download-content a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  padding: 1.5em 2em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.5em;
}

.download-cast img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
}

.download-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-info h4 {
  padding: 0.9em;
  text-transform: capitalize;
}

.download-genre,
.download-cast {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.download-rating {
  background-color: rgb(2, 41, 39);
  padding: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-rating .rate {
  font-size: 2em;
  padding: 1em;
}


@media screen and (min-width: 810px) {
  .download-content {
    display: flex;
    background: rgb(40, 47, 40);
    color: white;
  }
  .download-content a,
  .download-rating {
    flex-grow: 1;
  }
  .download-info {
    flex-grow: 2;
  }

  .download-rating {
    display: flex;
    flex-flow: column;
  }
}
