@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700 &display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$font-family-inter: "Inter", sans-serif;
$font-family-lexend: "Lexend Deca", sans-serif;

$color-primary-light-200: rgba(10, 1, 1, 0.945);
$color-primary-light-300: rgba(3, 0, 0, 0.979);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-lexend;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.login-split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;

  &--left {
    left: 0;
    width: 20%;
    padding: 19px;
    background-color: rgb(250, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__img {
      width: 50px;
    }
  }

  &--right {
    right: 0;
    width: 80%;
    background-image: linear-gradient(
        rgba($color-primary-light-200, 2),
        rgba($color-primary-light-300, 0.8)
      ),
      url("../images/back-customers.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.heading__h2 {
  text-transform: capitalize;
  padding: 9px;
}

.heading__para {
  padding: 12px;
  text-decoration: underline;
}

.form {
  width: 100%;

  &__group {
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    padding-bottom: 5px;
  }

  &__input {
    width: 100%;
    padding: .7rem;
    // font-size: 1.8rem;
    border: 1px solid rgba(217, 220, 223, 0.911);
    border-radius: 5px;
    font-weight: 100;

    &:focus {
      outline: none;
      border: 1px solid rgba(0, 8, 15, 0.945);
      border-radius: 5px;
    }
  }
}


.btn{
  display: block;
  text-decoration: none;
  background-color: black;
  padding: .8rem;
  color: whitesmoke;
  border-radius: 5px;
  text-align: center;
}